/* Rotate effect */

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(365deg);
  }
}

/* First effect */

@keyframes topMove {
  0% {
    letter-spacing: 2.5rem;
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Shacking effect */

@keyframes shacking {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(-10deg);
  }

  20% {
    transform: rotate(10deg);
  }

  30% {
    transform: rotate(-10deg);
  }

  40% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(-10deg);
  }

  60% {
    transform: rotate(10deg);
  }

  70% {
    transform: rotate(-10deg);
  }

  80% {
    transform: rotate(10deg);
  }

  90% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

/* Bright effect */

@keyframes bright {
  0% {
    margin-top: .75rem;
    opacity: 0;
  }

  100% {
    margin-bot: -1rem;
    opacity: 1;
  }
}

/* Moving effect */

@keyframes moving {
  0% {
    margin-left: -25rem;
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(5deg);
  }

  20% {
    transform: rotate(-5deg);
  }

  30% {
    transform: rotate(5deg);
  }

  40% {
    transform: rotate(-5deg);
  }

  50% {
    transform: rotate(5deg);
  }

  60% {
    transform: rotate(-5deg);
  }

  70% {
    transform: rotate(5deg);
  }

  80% {
    transform: rotate(-5deg);
  }

  90% {
    transform: rotate(5deg);
  }

  100% {
    margin-left: 25rem;
  }
}